.login-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.login-form {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    width: 300px;
    height: 400px;

    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    border-radius: 10px;

    background: #ffffff;
}

.logo {
    color: #2f3542;
    font-size: 40px;
    text-align: center;
}

.form-item {
    position: relative;
    width: 360px;
    margin: 0 22px;
    padding-bottom: 30px;
}

.form-item .icon {
    position: absolute;
    top: 12px;
    left: 18px;
}

.form-item .tip {
    position: absolute;
    left: 82px;
    top: 50px;
}

.form-item input {
    width: 255px;
    height: 48px;
    padding-left: 50px;
    border: 1px solid #2f3542;
    border-radius: 25px;
    font-size: 18px;
    color: #747d8c;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
}

.form-item button {
    width: 255px;
    height: 48px;
    border: 0;
    border-radius: 25px;
    color: #2f3542;
    outline: none;
    cursor: pointer;
    background-color: #f1f2f6;
}

.form-item a {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0;
}


.tip {
    display: none;
    color: #ff4757;
}


.link-item {
    color: #70a1ff;
    padding: 10px;
}

