.content-head-item {
    float: left;
    width: 150px;
}

.content-head-item.uUsername {
    width: 150px;
}

.content-head-item.uEmail {
    width: 200px;
}

.content-head-item.uPhoneNum {
    width: 150px;
}

.content-head-item.uQQ {
    width: 150px;
}

.content-head-item.uRole {

}

.content-head-item.operation {
    width: 140px;
}

.page-num {
    height: 40px;
    float: right;
    margin-top: 40px;
    margin-right: 100px;
}

.page-num-item {
    display: block;
    float: left;
    margin: 5px 10px;
    padding: 5px 10px;

    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.page-num-item.current {
    border-color: #3498db;
}

.page-num-item:hover {
    border-color: #3498db;
}